.-even {
	background-color: lightgrey;
}


.rt-table{
	background-color: white;
}

.pagination-bottom{
	background-color: white;
}

.css-10nd86i {
	margin-bottom: 5px;
}

.awokenSkills {
	font-size: 10px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.awokenSkills p {
	padding-right: 2px;
}

body {
	background: radial-gradient(#ecf0f1 15%, white 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color: black;
	background-size: 16px 16px;
}
